/* MEDIA QUERIES*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #E5E5E5;
  color: #878787;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-size: 14px;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 767.98px) {
  .section {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    flex-direction: row-reverse;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 900px;
  }
}

.container:not(:last-child) {
  margin-bottom: 20px;
}

.general {
  padding: 35px 15px;
  background-color: #233A5F;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .general {
    width: 30%;
  }
}

.general__box {
  background-color: #C4C4C4;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.general__image {
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.general_description {
  color: #C3C2C2;
}

.general__list {
  list-style: inside;
}

.contact__item {
  align-items: center;
  padding-left: 10px;
  height: 30px;
  display: flex;
  border-radius: 4px;
  background-color: #E5E5E5;
  color: #233A5F;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link:hover, .contact__link:focus {
  color: #878787;
}

.honor__description {
  color: #C3C2C2;
}

.social__list {
  display: flex;
}

.social__icon:hover, .social__icon:focus {
  fill: #C3C2C2;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__icon {
  fill: #ffffff;
}

.expertise {
  padding: 35px;
}
@media screen and (min-width: 768px) {
  .expertise {
    width: 70%;
  }
}

.expertise__title {
  color: #233A5F;
}

.expertise__title::after {
  content: " ";
  display: block;
  margin-bottom: 15px;
  background-color: #233A5F;
  width: 55px;
  height: 3px;
}

.projects__item:hover, projects__item:focus {
  color: #2A2A2A;
}

.projects__item:not(:last-child) {
  margin-bottom: 5px;
}

.education__item {
  display: flex;
}

.education__item:not(:last-child) {
  margin-bottom: 15px;
}

.education__date {
  width: 25%;
  display: flex;
}

.education__box {
  width: 75%;
  display: flex;
  flex-wrap: nowrap;
}

.education__icon {
  fill: #E5E5E5;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.education__title {
  margin-bottom: 5px;
  color: #2A2A2A;
  font-weight: 400;
}

.education__description {
  color: #2A2A2A;
  font-weight: 600;
}

.work__item {
  display: flex;
}

.work__item:not(:last-child) {
  margin-bottom: 15px;
}

.work__image {
  margin-right: 25px;
  width: 60px;
  height: 60px;
}

.work__box {
  display: flex;
  flex-wrap: nowrap;
  width: 75%;
}

.work__icon {
  fill: #E5E5E5;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.work__title {
  margin-bottom: 5px;
  color: #2A2A2A;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.work__description {
  margin-bottom: 5px;
  color: #2A2A2A;
}

.work__break {
  margin-left: 5px;
  margin-right: 5px;
}/*# sourceMappingURL=main.css.map */