.about {
    background-color: $white;
    padding: 32px;
}
.about__box:not(:last-child) {
    margin-bottom: 20px;
}
.about__header {
    display: inline-block;
    position: relative;
    content: ' ';
    color: $blue;
    margin-bottom: 12px;
}
.about__header::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    bottom: -1px;
    border-radius: 4px;
    background-color: $blue;
    transform: scaleX(1);
}
.about__item {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.about__item:not(:last-child) {
    margin-bottom: 10px;
}
.about__date {
    width: 75px;
    color: $darkblue;
    font-size: 10px;
}
.about__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: $darkblue;
    font-size: 10px;
}
