.expertise {
    padding: 30px;
    @include mq(tablet) {
        width: 70%;
    }
}
.expertise__title {
    color: $blue;
}
.expertise__title::after {
    content: ' ';
    display: block;
    margin-bottom: 15px;
    background-color: $blue;
    width: 55px;
    height: 3px;
}
.projects__item:hover, projects__item:focus {
    color: $darkblue;
}
.projects__item:not(:last-child) {
margin-bottom: 5px;
}
.education__item {
    display: flex;
}
.education__item:not(:last-child) {
    margin-bottom: 15px;
}

// в мобильной версии сьезжают поля
.education__date {
    margin-right: 25px;
    width: 105px;
    display: flex;
}

.education__icon {
    fill: $light;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.education__title {
    margin-bottom: 5px;
    color: $darkblue;
    font-weight: 400;
}
.education__description {
    color: $darkblue;
    font-weight: 600;
}
.work__item {
    display: flex;
}
.work__item:not(:last-child) {
    margin-bottom: 15px;
}
// .work__section {
//     display: block;
// }
.work__image {
    margin-right: 25px;
    width: 60px;
    height: 60px;
}
.work__icon {
    fill: $light;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px; 
}
.work__title {
    margin-bottom: 5px;
    color: $darkblue;
}
.work__description {
    margin-bottom: 5px;
    color: $darkblue;
}
.work__break {
    margin-left: 5px;
    margin-right: 5px;
}