.section {
    background-color: $white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    @include mq(mobile-only) {
    max-width: $mobile;
    }
    @include mq(tablet) {
        flex-direction: row-reverse;
        width: $tablet;
    }
    @include mq(desktop) {
        width: 900px;
    }
}

